:root {
    --main-color: #00c7fc;
    --primary-color: #1f2021;
    --secondary-color: #00c5fc7e;
}
html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
/* ? Title */
.title {
    max-width: 405px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.title h2 {
    margin-bottom: 50px;
    position: relative;
    font-size: 30px;
    font-weight: 400;
    color: #1f2021;
    width: fit-content;
}
.title p {
    font-size: 13px;
    font-weight: 300;
    color: #a8a8a8;
}
.title h2::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 2px;
    background-color: #1f2021;
    bottom: -25px;
    right: 50%;
    transform: translateX(50%);
}
.title h2::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: solid 2px #1f2021;
    background-color: white;
    bottom: -25px;
    right: 50%;
    transform: translate(50%, 6px);
}
/* ?End Title */
a {
    text-decoration: none;
}
.icon {
    color: #ffffff;
}
.menu > :first-child {
    display: none;
}
@media (max-width: 700px) {
    .menu > :first-child {
        display: block;
    }
    body header .container > :nth-child(2) .menu:hover .nav {
        display: block;
    }
    header .container > :nth-child(2) .nav {
        display: none;
    }
    .nav::after {
        content: "";
        position: absolute;
        top: 40px;
        right: 0px;
        width: 100%;
        height: 30px;
        z-index: 1234124;
    }
    header .container > :nth-child(2) ul {
        display: block;
        border-radius: 4px;
        position: absolute;
        top: 66.8px;
        right: 3vw;
        background-color: #00000033;
        width: 94vw;
        z-index: 12312431241;
    }
    .container ul li a::after {
        content: "";
        display: none;
    }
    .landing .container a:not(.home):hover::after {
        display: none;
    }
}
/* Small */
@media (min-width: 768px) {
    body .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    body .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    body .container {
        width: 1170px;
    }
}
/* ?landing */
.landing {
    flex-direction: column;
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: 100vh;
}
/* *overlay */
.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.308);
}
/* *end overlay */
/* ?end landing */
/* !container */
.container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;
    margin: 0px auto;
    padding: 0px 15px;
}
/* !end container */
/* !header */
header .container {
    align-items: center;
    margin: 0 15px;
    padding: 0;
}
header {
    display: flex;
    justify-content: center;
}
header * {
    display: flex;
}
header .container > :nth-child(2) {
    justify-content: flex-end;
    grid-column: -2/-12;
    margin-right: 20px;
}
header .container > :last-child {
    align-items: center;
    grid-column: 12/13;
    color: white;
    padding-left: 20px;
    border-left: solid 2px white;
}
header .container > :nth-child(2) a {
    position: relative;
    font-size: 13px;
    font-weight: 600;
    color: white;
    margin-left: 20px;
    transition: 300ms color;
}
header .container ul li a::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -27px;
    background-color: #00e1ff;
    z-index: 123121;
}
header .container ul li a:not(.home)::after {
    display: none;
}
header .container ul li {
    padding: 10px 0px;
}
header .container ul li .home {
    color: #00e1ff;
}

header .container a:not(.home):hover::after {
    display: block;
}
header .container ul li a:hover {
    color: #00e1ff;
}
header .container {
    border-bottom: solid 1px #636364;
}
.logo img {
    width: 150px;
    background-color: #f8f8fa33;
    border-radius: 4px;
    margin: 3px 0;
}
.logo {
    justify-content: flex-end;
}

/* !end header */
/* ! info */
.info {
    position: relative;
    display: flex;
    height: calc(100vh - 67px);
    align-items: center;
}
.landing .info > div:first-child {
    background-color: var(--secondary-color);
    width: 50vw;
    padding: 80px 10px 80px 10vw;
    color: #ffffff;
    line-height: 1.5;
}
.info h2 {
    font-size: 30px;
    font-weight: 400;
}
.info p {
    font-size: 13px;
    font-weight: 400;
    margin-top: 20px;
}
@media (max-width: 700px) {
    .landing .info > div:first-child {
        width: 100vw;
    }
}
/* * Navigation */
.Navigation {
    text-align: center;
    position: absolute;
    bottom: 5px;
    right: 50%;
    transform: translateX(50%);
}
.Navigation span {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    border-radius: 50%;
    display: inline-block;
}
.Navigation span:nth-child(2) {
    background-color: #00c7fc;
}
.Navigation span:not(:nth-child(2)) {
    border: solid 1px white;
}
/* * end Navigation */
/* *Arrow */
.Arrow-left {
    font-size: 30px;
    position: absolute;
    left: 10px;
}
.Arrow-right {
    font-size: 30px;
    position: absolute;
    right: 10px;
}
/* *end Arrow */
/* !end info */

/* ?------------------------services-section----------------------------- */

/* ! services */
.services {
    display: flex;
    justify-content: center;
    line-height: 2;
}
.services .container h3 {
    margin-bottom: 20px;
    color: var(--main-color);
    font-size: 20px;
    font-weight: 400;
}
.services .container p {
    color: #a8a8a8;
    font-size: 13px;
    font-weight: 400;
}
.services .container > div {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    justify-items: center;
    grid-area: span 1 / span 6;
}
.services .container > div :last-child {
    grid-column: span 4;
}
.services .container > div :first-child {
    grid-column: span 2;
}
.icons {
    margin-top: 10px;
    font-size: 40px;
    color: #1f2021;
}
@media (max-width: 700px) {
    .services .container > div {
        grid-area: span 1 / span 12;
    }
    .container {
        column-gap: 0px;
    }
}
/* !end services */
/* ! features */
.features {
    display: flex;
    flex-direction: row-reverse;
    background-image: url(../images/features.png);
    background-position: center;
    background-size: cover;
    height: 525px;
    margin: 100px 0;
}
/* !end features */
.features > div:first-child {
    background-color: var(--secondary-color);
    width: 50vw;
    align-self: center;
    flex-direction: row-reverse;
    padding: 50px 0 50px 40px;
    color: white;
    line-height: 2;
}
.features > div:first-child > div * {
    display: inline-block;
}
.features h3 {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 400;
}
.features p {
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
}
@media (max-width: 700px) {
    .features > div:first-child {
        width: 100vw;
    }
    .services-section .features > div:last-child {
        display: none;
    }
}
.features > div:last-child {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 50vw;
    overflow: hidden;
}
.features > div:last-child img {
    position: absolute;
    bottom: -100px;
}

/* ?-------------------------End services-section---------------------------- */

/* ?------------------------------portfolio---------------------------- */
.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* ! Shuffle */
.portfolio .shuffle ul {
    display: flex;
}
.portfolio .shuffle ul li {
    text-transform: capitalize;
    padding: 10px;
}
.portfolio .shuffle .active {
    background-color: var(--main-color);
    color: white;
}
/* ! end Shuffle */
/* ! photos */
.photos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 25px 0 0;
}
.photos > div {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px;
    overflow: hidden;
}
.photos > div > div {
    position: absolute;
    text-align: center;
    bottom: -100%;
    line-height: 2;
    padding: 10px;
    background-color: white;
    width: 100%;
    transition: 300ms bottom;
}
.photos > div:hover div {
    bottom: 0;
}
.photos > div:hover img {
    transform: scale(1.1);
}
.photos h5 {
    font-size: 20px;
    font-weight: 400;
    color: var(--primary-color);
}
.photos p {
    font-size: 13px;
    font-weight: 400;
    color: var(--main-color);
}

.photos > div img {
    align-self: center;
    width: 100%;
    transition: 300ms transform;
}
/* Small */
@media (min-width: 768px) {
    .photos > div {
        flex-basis: calc(50% - 10px);
    }
    .photos > div img {
        height: 100%;
        object-fit: cover;
        object-position: bottom;
    }
}
/* Medium */
@media (min-width: 992px) {
    .photos > div {
        flex-basis: calc(25% - 10px);
        height: 250px;
    }
}
.portfolio > .more {
    color: white;
    padding: 10px;
    background-color: var(--main-color);
    margin: 10px 0;
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}
/* ! end photos */
/* ! video */
.video-box {
    position: relative;
    margin: 40px 0 0;
    width: 100%;
    height: fit-content;
    overflow: hidden;
}
.video-box video {
    width: 100vw;
}
.video-box div {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    top: 50%;
    width: 100%;
    min-height: 30%;
    color: white;
    transform: translateY(-50%);
    background-color: var(--secondary-color);
    text-align: center;
    line-height: 1.5;
}
.video-box p {
    font-size: 13px;
    font-weight: 400;
}
.video-box h3 {
    font-size: 20px;
    font-weight: 600;
}
.video-box a {
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: var(--primary-color);
    color: white;
    padding: 5px 20px;
    align-self: center;
}
/* ! end video */

/* ?----------------------------End portfolio----------------------------*/

/* ?-------------------------------about----------------------------*/
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about > :nth-child(2) {
    width: 100%;
}
.about > div:not(:first-child) {
    margin-bottom: 60px;
}
.about > div:nth-child(2) > div:first-child {
    display: flex;
    justify-content: center;
    margin-bottom: -3px;
}
.about > div:nth-child(2) img {
    max-width: 90%;
    z-index: -1;
}
.about .stats .container > div {
    grid-column: span 12;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    background-color: var(--secondary-color);
    text-align: center;
    color: white;
    padding: 10px 0;
    margin: 50px 0px;
}
.about .container > div > div {
    margin: 10px;
}
.stats .overlay {
    display: flex;
    justify-content: center;
    min-height: inherit;
}
.stats {
    display: flex;
    align-items: center;
    background-image: url(../images/ruins_3840x2160.png);
    background-size: cover;
    background-position: center;
    width: inherit;
    min-height: 50vh;
}
.stats .container {
    align-items: center;
}
.stats h4 {
    font-size: 50px;
    font-weight: 700;
}
.stats p {
    font-size: 13px;
    font-weight: 300;
}
.stats .container .icon-box {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.stats .icon {
    font-size: 20px;
}
/* ! testimonials our-skills */
.p-title {
    max-width: 450px;
    text-align: center;
    line-height: 1.5;
}
.p-title h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.testimonials p {
    font-size: 13px;
    font-weight: 300;
}
.testimonials,
.skills {
    display: grid;
    justify-items: center;
    position: relative;
    line-height: 1.5;
    grid-column: span 6;
}
.testimonials img {
    width: 100px;
}
.testimonials-box > div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.testimonials-box {
    width: 100%;
}
.testimonials-box > div > div:last-child {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10px 0;
    max-width: 300px;
}
.testimonials-box > div > div:last-child::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -10px;
    background-color: #a8a8a8;
}
.testimonials .testimonials-box p + p {
    font-size: 13px;
    font-weight: 300;
    font-style: italic;
    color: #a8a8a8;
    align-self: flex-end;
}
.our-skills .Navigation span:not(:nth-child(2)) {
    border-color: #a8a8a8;
}
.our-skills .Navigation span {
    width: 10px;
    height: 10px;
    margin: 2px;
}
@media (max-width: 500px) {
    .testimonials-box > div:not(:last-child) {
        flex-direction: column;
        text-align: center;
    }
}
@media (max-width: 700px) {
    .testimonials {
        grid-column: span 12;
    }
    .container .skills {
        justify-items: center;
        grid-column: span 12;
    }
}
.progress-box {
    width: 100%;
    /* background-color: red; */
}
.progress-box .progress {
    width: 100%;
    height: 20px;
    background-color: #dedadc;
    margin-bottom: 10px;
}
.progress-box .progress > div {
    height: 20px;
    background-color: var(--main-color);
    position: relative;
}
.progress-box .progress > div span {
    position: absolute;
    color: white;
    font-size: 11px;
    padding: 0 2px;
    background-color: var(--primary-color);
    top: -100%;
    left: 100%;
    transform: translateX(-50%);
}
.progress-box .progress > div::after {
    content: "";
    position: absolute;
    border: solid 5px;
    border-color: var(--primary-color) transparent transparent;
    top: -25%;
    left: 100%;
    transform: translateX(-50%);
}
.progress-box div:nth-child(1) .progress > div {
    width: 95%;
}
.progress-box div:nth-child(2) .progress > div {
    width: 93%;
}
.progress-box div:nth-child(3) .progress > div {
    width: 85%;
}
.progress-box div:nth-child(4) .progress > div {
    width: 87%;
}
.progress-box p {
    text-transform: uppercase;
    margin-bottom: 5px;
}
/* ! end testimonials our-skills */
/*! quote */
.quote {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-image: url(../images/hope_2560x1440.jpg);
    background-position: bottom;
    background-size: cover;
    color: white;
    margin-bottom: 0 !important;
}
.quote::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}
.quote p {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
}
.quote p::before {
    content: open-quote;
}
.quote p::after {
    content: close-quote;
}
.quote .container {
    z-index: 1231;
}
.quote .container div {
    display: grid;
    text-align: center;
    grid-column: span 12;
    align-content: center;
}
.quote .container span {
    /* display: block; */
    font-size: 13px;
    font-weight: 600;
}

/*! end quote */

/* ?----------------------------End about----------------------------*/

/* ?------------------------------pricing----------------------------*/

.pricses-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    grid-column: span 12;
    /* text-align: center; */
    color: var(--primary-color);
}
.pricses-box > div {
    width: calc(100% - 20px);
    margin: 40px 0px;
}
/* Small */
@media (min-width: 768px) {
    .pricses-box > div {
        width: calc(50% - 20px);
        margin: 40px 0px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .pricses-box > div {
        width: calc(25% - 20px);
        margin: 40px 0px;
    }
}

.pricses-box > div > div {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: solid 1px var(--main-color);
    line-height: 1.5;
}
.pricses-box > div > div:not(:nth-child(2)) {
    padding: 40px;
}
.pricses-box > div > div > p {
    font-size: 16px;
    font-weight: 400;
    padding: 20px 10px;
    width: 120px;
    text-align: center;
}
.pricses-box > div > div > p:not(:last-child) {
    border-bottom: solid 1px var(--main-color);
}
.pricses-box h3 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 5px;
}
.pricses-box h4 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 59.48px;
    position: relative;
}
.pricing .pricses-box h4::before {
    content: "$";
    position: absolute;
    left: -10px;
    font-size: 20.53px;
}
.pricing .pricses-box h4::after {
    content: "/mo";
    font-size: 13px;
}
.pricses-box > div > div:nth-child(3) div {
    text-transform: capitalize;
    padding: 10px 30px;
    border: solid 1px var(--main-color);
}
.go-contact {
    display: grid;
    justify-items: center;
    grid-column: span 12;
    text-transform: capitalize;
    text-align: center;
}
.go-contact * {
    margin: 10px 0px;
}
.go-contact h3 {
    font-size: 20px;
    font-weight: 400;
    color: var(--primary-color);
}
.go-contact p {
    font-size: 16px;
    font-weight: 400;
    padding: 10px 20px;
    color: white;
    background-color: var(--main-color);
}
/* ! subscribe */
.subscribe {
    position: relative;
    background-image: url(../images/subscribe\ 2.jpg);
    background-position: center;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 100px;
}
.subscribe::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}
.subscribe .container {
    z-index: 1231;
}
.subscribe .container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 6;
    max-width: 100%;
}
@media (max-width: 768px) {
    .subscribe .container > div {
        grid-column: span 12;
    }
}
.subscribe p {
    font-size: 13px;
    font-weight: 400;
}
.subscribe form {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px white;
    padding-left: 20px;
    max-width: inherit;
    min-width: 250px;
}
.subscribe form input {
    min-width: 10px;
    padding: 15px 20px;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    caret-color: var(--main-color);
}
.subscribe form input::placeholder {
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
}
.subscribe form input:focus::placeholder {
    visibility: hidden;
}
.subscribe form button {
    padding: 15px 10px;
    color: white;
    background-color: var(--main-color);
    text-transform: uppercase;
    border: none;
}
/* ! end subscribe */

/* ?----------------------------End pricing----------------------------*/
/* ?------------------------------contact----------------------------*/
.contact .container > form {
    grid-column: span 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    caret-color: #00c7fc;
    /* align-items: stretch; */
}
.contact .container > form input,
.contact textarea {
    resize: none;
    outline: none;
    margin: 10px 0px;
    padding: 10px;
    font-size: 13px;
    border: solid 1px #dbdbdb;
    /* border: none; */
}
.contact .container > form input::placeholder,
.contact textarea::placeholder {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    color: #000000;
}
.contact .container > form *:focus::placeholder {
    visibility: hidden;
}
.contact .container > form input[type="button"] {
    background-color: var(--main-color);
    color: white;
    align-self: flex-end;
    text-transform: uppercase;
}

.contact .container > div {
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.contact .container > div h3 {
    color: #1f2021;
    margin: 10px 0;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}
.contact .container > div p {
    color: #999999;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 3px;
}
@media (max-width: 700px) {
    body .contact .container > * {
        grid-column: span 12;
    }
    .contact .container > div {
        flex-direction: row;
    }
}
/* ?----------------------------End contact----------------------------*/
/* ?------------------------------FOOTER----------------------------*/
footer {
    position: relative;
    background-image: url(../images/footer.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2;
    margin-top: 50px;
}

footer::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.281);
}
footer > div {
    z-index: 121;
    text-align: center;
}
footer img {
    width: 200px;
}
footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
}
footer h3{
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    margin-top: 30px;
}
footer h3::after{
    content: "";
    height: 2px;
    width: 100%;
    bottom: -3px;
    background-color: white;
    position: absolute;
    display: block;
}
footer ul li {
    margin: 10px;
}
footer span{
    color: var(--main-color);
}
/* ?----------------------------End FOOTER----------------------------*/
